
body{
    font-family: 'Arial (Hebrew)', Arial;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    color: white;
    margin: 0;
}

nav{
    background-color: rgb(143, 143, 143);
    height: 105px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(143, 143, 143) 85%,rgb(190, 190, 190));
}

footer{
    background-color: rgb(143, 143, 143);
        /* delete */
    height: 38px;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav .container {
    width: 900px;
    height: 105px;
}
main .container {
    width: 900px;
    height: 458px;
    padding: 30px 0;
}

main > .container > .row {
    /* width: 900px;
    height: 458px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
    color: black;
}

main > .container > .row > .col1{
    width: 122px;
}

main > .container > .row > .col2{
    width: 440px;
    margin: 10px;
}

main > .container > .row > .col3{
    width: 292px;
}

main > .container > .row > .col2 > .row3 ,main > .container > .row > .col3 > .row1 ,main > .container > .row > .col3 > .row2 {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 20px 0 0;
    background-image: linear-gradient(0deg, rgb(236, 236, 236) ,white);
}

main > .container > .row > .col1 > div {
    border: 1px solid rgb(229, 229, 229);
    background-image: linear-gradient(0deg, rgb(236, 236, 236) ,white);
}

main label , main textarea, main p{
    color: #6d6d6d;
    font-size: 12px;
}

main a{

}

main button {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 5px 0 0;
    background-image: linear-gradient(0deg, rgb(2, 81, 137) ,rgb(12,163,228));
    color: white;
}

main button:hover {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 5px 0 0;
    background-image: linear-gradient(0deg, rgb(244, 145, 9) ,rgb(252, 230, 31));
    color: black;
}

nav button {
    border: none;
    padding: 0;
    height: 18px;
}

nav > .container > .row:first-child {
    display: flex;
    justify-content: space-around ;
}

nav > .container > .row:first-child > div{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}

nav > .container > .row  a , footer > ul > li > a{
    text-decoration: none;
    color: white;
}

nav > .container > .row  a:hover , footer > ul > li > a:hover{
    text-decoration: underline;
    color: rgb(0, 94, 160);
}

nav > .container > .row > ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dropdown-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0;
    margin: 0;
}

nav > .container > .row > ul > li > a , .dropdown-menu > ul > li > a {
    display: block;
    flex-basis: auto;
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu > ul > li > a:hover {
    background-color: rgb(189, 189, 189);
}

nav > .container > .row > ul > li {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(143, 143, 143);
    width: max-content;
}

li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > ul > li{
    border-top: 1px solid white;
}

nav > .container > .row > ul > #position{
    position: relative;
}

nav > .container > .row > ul > span >#paz-logo {
    position: absolute;
    top: -40px;
    left: 100%;
}

nav > .container > .row > ul > span {
    margin: 0 16px;
}

nav > .container > .row > ul > #home, nav > .container > .row > ul > #position {
    margin: 0;
}

.dropdown-menu > ul > li > a{
    /* border-bottom: rgb(143, 143, 143); */
    padding:5px 5px;
}

.dropdown-menu > ul > li:first-child {
    background-image: linear-gradient(180deg, rgb(190, 190, 190) ,rgb(143, 143, 143));
}

nav input {
    border: none;
    border-radius: 0 5px 0 0;
    width: 126px;
    height: 14px;
}

nav > .container > .row > div > button, nav > .row > .container > div > button > img{
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
}

nav > .container > .row > div > a {
    font-size: 12px;
    padding-left: 5px;
}

footer > ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 14px;
}

footer > ul > span {
    margin: 0 5px;
    font-size: 14px;
}

.gradiant{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(190, 190, 190) ,rgb(143, 143, 143));
}


