
body{
    font-family: 'Arial (Hebrew)', Arial;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    color: white;
    margin: 0;
}

nav{
    background-color: rgb(143, 143, 143);
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(143, 143, 143) 85%,rgb(190, 190, 190));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: rgb(143, 143, 143);
    height: 38px;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav > .container {
    width: 900px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav > .container > .row{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
} 

main .container {
    width: 900px;
    height: 458px;
    padding: 30px 0;
}

main > .container > .row {
    height: 458px;
    display: flex;
    flex-direction: row;
    color: #6d6d6d;
}

main > .container > .row > .col1{
    width: 122px;
}

main > .container > .row > .col2{
    width: 440px;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > .container > .row > .col2 > .row3{
    width: 347px;
    min-height: 332px;
}

main > .container > .row > .col2 > .row3 > div > div{
    width: 245px;
    margin: 10px auto 0;
}

main > .container > .row > .col3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main > .container > .row > .col3 > div{
    width: 248px;
    height: 142px;
}

main > .container > .row > .col3 > .row2{
    margin-top: 20px;
}

main > .container > .row > .col2 > .row3 ,main > .container > .row > .col3 > .row1 ,main > .container > .row > .col3 > .row2 {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 20px 0 0;
    background-image: linear-gradient(0deg, rgb(236, 236, 236) ,white);
    padding: 12px 18px;
}

main > .container > .row > .col1 > .row1 {
    width: 122px;
    height: 37px;
    border: 1px solid rgb(229, 229, 229);
    background-image: linear-gradient(0deg, rgb(207, 207, 207) ,white);
    display: flex;
    align-items: center;
}

main label , main .col2 p, main .col2 a, main .col2 span{
    color: #6d6d6d;
    font-size: 12px;
    text-decoration: none;
    margin: 5px 0;
}

main .col2 > .row3 > div > div{
    width: 160px;
}
main .col2 > .row3 > div > div > div{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}

main .col1 a{
    color: #6d6d6d;
    font-size: 13px;
    text-decoration: none;
}

main .col3 a, main p > strong , main .col3 p{
    font-size: 13px;
    margin: 0;
    text-decoration: none;
}

main h3{
    color: rgb(2, 81, 137);
    font-size: 15px;
    margin: 0;
}

main .col3 .title{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(229, 229, 229);
}

main .col2 > .row2 > .title{
    color: #6d6d6d;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.traingle{
    font-size: 12px;
    color: rgb(3, 94, 161);
    padding-left: 5px;
}


main a:hover{
    color: rgb(3, 94, 161);
    text-decoration: underline;
}

main button {
    width: 44px;
    height: 21px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 5px 0 0;
    background-image: linear-gradient(0deg, rgb(2, 81, 137) ,rgb(12,163,228));
    color: white;
    margin-right: auto;
}

main button:hover {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0 5px 0 0;
    background-image: linear-gradient(0deg, rgb(244, 145, 9) ,rgb(252, 230, 31));
    color: black;
}

nav button {
    border: none;
    padding: 0;
    height: 18px;
}

nav > .container > .row:first-child > div{
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

nav > .container > .row  a , footer > ul > li > a{
    text-decoration: none;
    color: white;
}

nav > .container > .row  a:hover , footer > ul > li > a:hover{
    text-decoration: underline;
    color: rgb(0, 94, 160);
}

nav > .container > .row > ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dropdown-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0;
    margin: 0;
}

nav > .container > .row > ul > li > a , .dropdown-menu > ul > li > a {
    display: block;
    flex-basis: auto;
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu > ul > li > a:hover {
    background-color: rgb(189, 189, 189);
}

nav > .container > .row > ul > li {
    position: relative;
    padding-bottom: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(143, 143, 143);
    width: max-content;
}

li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > ul > li{
    border-top: 1px solid white;
}

nav > .container > .row > ul > #position{
    position: relative;
}

nav > .container > .row > ul > span >#paz-logo {
    position: absolute;
    top: -40px;
    left: 100%;
}

nav > .container > .row > ul > span {
    margin: 0 16px;
}

nav > .container > .row > ul > #home, nav > .container > .row > ul > #position {
    margin: 0;
}

.dropdown-menu > ul > li > a{
    /* border-bottom: rgb(143, 143, 143); */
    padding:5px 5px;
}

.dropdown-menu > ul > li:first-child {
    background-image: linear-gradient(180deg, rgb(190, 190, 190) ,rgb(143, 143, 143));
}

nav input {
    border: none;
    border-radius: 0 5px 0 0;
    margin-right: 15px;
    width: 126px;
    height: 17px;
}

nav > .container > .row > div > button, nav > .row > .container > div > button > img{
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
}

nav > .container > .row > div > a {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 3px;
}

footer > ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 14px;
}

footer > ul > span {
    margin: 0 5px;
    font-size: 14px;
}

.gradiant{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(190, 190, 190) ,rgb(143, 143, 143));
}


